@page "/articles"

<h3>Articles</h3>

<NavLink class="nav-link" href="newarticle">Create a New Article</NavLink>

@if (ArticleCollection == null)
{
  <h1>Loading...</h1>
}
else
{
  <div class="container">
  @{ 
      foreach (var article in ArticleCollection)
      {
        <div class="row">
          <div class="col-sm-4">@article.Title</div> 
          <div class="col-sm-2"><button type="button" @onclick="() => { OnEditButtonClick(article.Id); }" class="btn-primary">Edit</button></div>
          <div class="col-sm-2"><button type="button" @onclick="async () => { await OnPublishButtonClick(article); }" class="btn-primary" disabled="@article.IsPublished">Publish</button></div>
        </div>
      }
    }
  </div>
}
