@page "/newarticle"
@page "/editarticle/{id}"

<h3>@PageTitle</h3>

<EditForm Model="@Article">
  <label for="title" class="col-sm-2 col-form-label">
    Title
  </label>
  <div class="col-sm-10">
    <InputText id="title" class="form-control" @bind-Value="Article.Title" />
  </div>
  <label for="subtitle" class="col-sm-2 col-form-label">
    Subtitle
  </label>
  <div class="col-sm-10">
    <InputText id="subtitle" class="form-control" @bind-Value="Article.Subtitle" />
  </div>
  <label for="authorname" class="col-sm-2 col-form-label">
    Author's Name
  </label>
  <div class="col-sm-10">
    <InputText id="authorname" class="form-control" @bind-Value="Article.AuthorName" />
  </div>
  <label for="content" class="col-sm-2 col-form-label">
    Article Content
  </label>
  @*<div class="col-sm-10">
    <InputTextArea id="content" class="form-control" @bind-Value="Article.Content" />
  </div>*@
</EditForm>
<RichTextEditor @ref="@RichTextEditor" Content="@Article.Content" />
<button type="submit" class="btn btn-primary" @onclick="OnSaveArticleClicked">Save</button>
<button type="button" class="btn btn-warning" @onclick="OnDiscardClicked">Discard</button>
